<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

    <bean id="car" class="degisn.factory.test5.Car">
        <property name="driver" ref="driver"></property>
    </bean>
    <bean id="driver" class="degisn.factory.test5.Driver"></bean>

    <bean id="tank" class="degisn.proxy.test6.Tank"></bean>
    <bean id="timeProxy" class="degisn.proxy.test6.TimeProxy"></bean>
    <bean id="timeProxy1" class="degisn.proxy.test6.TimeProxyAuto"></bean>
    <aop:aspectj-autoproxy/>
    <!--<aop:config>
        <aop:aspect id="time" ref="timeProxy">
            <aop:pointcut id="onmove" expression="execution(void degisn.proxy.test6.Tank.move())"/>
            <aop:before method="before" pointcut-ref="onmove"/>
            <aop:after method="after" pointcut-ref="onmove"/>
        </aop:aspect>
    </aop:config>-->
</beans>